[Unit]
Description=kubernetes directory Directory
Before=kubelet.service

[Mount]
What=/dev/disk/by-label/k8s
Where=/etc/kubernetes
Type=btrfs
Options=subvol=_etc-kubernetes,defaults,relatime

[Install]
WantedBy=kubelet.service
