[Unit]
Description=kubernetes directory Directory
Before=kubelet.service
After=mnt-data.mount
Requires=mnt-data.mount

[Mount]
What=/mnt/data/etc/kubernetes
Where=/etc/kubernetes
Type=none
Options=bind

[Install]
WantedBy=kubelet.service
