[Unit]
Description=Setup up modules
After=systemd-volatile-root.service
AssertPathExists=/etc/initrd-release

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mount-modules-dir /sysroot

[Install]
WantedBy=sysinit.target
