[Unit]
Description=Kubelet Directory
Before=kubelet.service
After=mnt-data.mount
Requires=mnt-data.mount

[Mount]
What=/mnt/data/var/lib/etcd
Where=/var/lib/etcd
Type=none
Options=bind

[Install]
WantedBy=kubelet.service
