[Unit]
Description=Kubelet Directory
Before=kubelet.service

[Mount]
What=/dev/disk/by-label/k8s
Where=/var/lib/kubelet
Type=btrfs
Options=subvol=_var-lib-kubelet,defaults,relatime

[Install]
WantedBy=kubelet.service
