[Unit]
Description=containerd Directory
Before=containerd.service
After=mnt-data.mount
Requires=mnt-data.mount

[Mount]
What=/mnt/data/var/lib/containerd
Where=/var/lib/containerd
Type=none
Options=bind

[Install]
WantedBy=containerd.service
