[Unit]
Description=cni Directory
Before=kubelet.service

[Mount]
What=/dev/disk/by-label/k8s
Where=/var/lib/calico
Type=btrfs
Options=subvol=_var-lib-calico,defaults,relatime

[Install]
WantedBy=kubelet.service
