[Unit]
Description=containerd Directory
After=mount-modules.service

[Mount]
What=/dev/disk/by-label/k8s
Where=/var/lib/containerd
Type=btrfs
Options=subvol=_var-lib-containerd,defaults,relatime

[Install]
WantedBy=local-fs.target
