[Unit]
Description=cni Directory
Before=kubelet.service
After=mnt-data.mount
Requires=mnt-data.mount

[Mount]
What=/mnt/data/var/lib/calico
Where=/var/lib/calico
Type=none
Options=bind

[Install]
WantedBy=kubelet.service
